html, body, h1, h2, h3, div, canvas, ul, strong {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  color: white;
  text-align: center;
  font-size: 14px;
}

a {
  color: green;
}

a:hover {
  color: #34C504;
}

.hidden {
  display: none;
}

canvas {
  background: url("hubble.jpg");
  background-size: cover;
  display: block;
  margin: 20px auto;
  border: 3px solid gray;
  border-radius: 3px;
}

body {
  background: black;
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.new-game {
  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -70px;
  margin-top: -180px;

  width: 120px;
  
  border: 2px solid grey;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  background: #E0080D;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.new-game:hover {
  background: #DE3527;
  box-shadow: 0px 0px 0.5px 0.5px #414141;
}

.new-game.pacifist {
  margin-top: -120px;
}

.new-game > .subhead {
  font-size: 14px;
}

.instructions {
  background: white;
  border: 2px solid grey;
  border-radius: 8px;
  width: 240px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.instructions > h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.instructions > table {
  margin: auto;
}

footer {
  margin-bottom: 30px;
}